@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  /* https://github.com/system-fonts/modern-font-stacks */
  --font-sans: "Inter Variable", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  --font-display: var(--font-sans);
  --font-display--font-variation-settings: "opsz" 32;
}

@custom-variant mouse {
  @media (pointer: fine) {
    @slot
  }
}

@utility prose {
  --tw-prose-body: black,
  --tw-prose-headings: black,
  --tw-prose-lead: black,
  --tw-prose-links: black,
  --tw-prose-bold: black,
  --tw-prose-quotes: black,
  --tw-prose-quote-borders: black,
  --tw-prose-captions: black,
  --tw-prose-code: black,
  --tw-prose-pre-code: black,
}
