/* inter-100 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-100.woff2") format("woff2");
}

/* inter-200 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-200.woff2") format("woff2");
}

/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2");
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2");
}

/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2");
}

/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2");
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-700.woff2") format("woff2");
}

/* inter-800 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-800.woff2") format("woff2");
}

/* inter-900 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("/fonts/inter-v12-latin_cyrillic-900.woff2") format("woff2");
}

:root {
  font-family: "Inter";
}
