@import "font";

h1,
h2,
b {
  font-weight: 800;
  font-style: italic;
}

h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

p {
  font-size: 16px;
  margin-top: 5px;
}

tr {
  font-size: 16px;
}

pre {
  overflow: auto;
}

img {
  max-width: 100%;
}

code {
  font-style: normal;

  pre & {
    font-size: 12px;
  }
}
