@import "header";

@import "text";

@import "links";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

body {
  margin: 0px;
}
