<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="hi its me im flexagoon 🍅" />
    <title>flexagoon</title>

    <link rel="icon" type="image/svg+xml" href="/images/logo-color.svg">

    {{ template "_internal/opengraph.html" . }}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/code.css">
  </head>
  <body>
    <header class="fixed top-0 w-full pt-4 bg-white">
      <a href="/" class="block mx-auto size-12 sm:size-20 hover:bg-black/10 p-1 box-content rounded-lg">
      	<img src="/images/logo-black.svg" alt="logo" class="h-12 sm:h-20"/>
      </a>
    </header>
    <main class="flex justify-center items-center min-h-[calc(100dvh-2rem)] lg:min-h-dvh px-8 pt-[4.5rem] pb-[2.5rem] sm:pb-[4.5rem] sm:pt-[6.5rem] lg:pb-[6.5rem]">
      <div class="max-w-screen-sm">
        {{ block "main" . }} {{ .Content }} {{ end }}
      </div>
    </main>
    <footer class="text-right mr-5 mb-2 lg:fixed lg:bottom-0 lg:right-0">
      <p class="text-base">
        <a href="https://otomir23.me/webring/6/prev">← prev</a>
        <a href="https://otomir23.me/webring" class="font-bold">|webring|</span>
        <a href="https://otomir23.me/webring/6/next">next →</a>
      </p>
    </footer>
  </body>
</html>
