---
import Content from "../layouts/Content.astro";
---

<Content title="contact me">
  <table>
    <tbody>
      <tr>
        <td>github:</td>
        <td><a href="https://github.com/flexagoon">flexagoon</a></td>
      </tr>
      <tr>
        <td>team github:</td>
        <td><a href="https://github.com/chftm">chftm</a></td>
      </tr>
      <tr>
        <td>telegram:</td>
        <td><a href="https://t.me/flexagoon">@flexagoon</a></td>
      </tr>
      <tr>
        <td>email:</td>
        <td><a href="mailto:me@fxgn.dev">me@fxgn.dev</a></td>
      </tr>
    </tbody>
  </table>
</Content>
