---
import Content from "../layouts/Content.astro";
---

<Content title="contact me">
  <table>
    <tbody>
      <tr>
        <td>github:</td>
        <td><a href="https://github.com/flexagoon">flexagoon</a></td>
      </tr>
      <tr>
        <td>team github:</td>
        <td><a href="https://github.com/chftm">chftm</a></td>
      </tr>
      <tr>
        <td>telegram:</td>
        <td><a href="https://t.me/flexagoon">@flexagoon</a></td>
      </tr>
      <tr>
        <td>email:</td>
        <td><a id="email" href="">me (at) fxgn (dot) dev</a></td>
      </tr>
    </tbody>
  </table>
</Content>

<script is:inline>
  const emailLink = document.getElementById("email");
  if (emailLink) {
    const obfuscatedEmail = emailLink.textContent;
    const email = obfuscatedEmail
      .replace(" (at) ", "@")
      .replace(" (dot) ", ".");
    emailLink.href = "mailto:" + email;
    emailLink.textContent = email;
  }
</script>
