---
import Page from "../layouts/Page.astro";
import HomepageButton from "../components/HomepageButton.astro";
---

<Page>
  <hgroup>
    <h1 class="font-display text-5xl/tight font-extrabold italic">flexagoon</h1>
    <p class="mb-2 text-2xl">"that's literally me"</p>
  </hgroup>

  <HomepageButton href="/contact" text="contact" />
  <HomepageButton href="/about" text="about" />
  <HomepageButton href="/blog" text="blog" />
</Page>
