---
import Page from "../layouts/Page.astro";
---

<Page>
  <hgroup>
    <h1 class="text-5xl/tight font-extrabold italic">flexagoon</h1>
    <p class="mb-2 text-2xl">"that's literally me"</p>
  </hgroup>

  <a
    href="/contact"
    class="block w-fit rounded-lg px-1 py-2.5 mouse:py-1 hover:bg-black/10"
  >
    contact →
  </a>

  <a
    href="/brand"
    class="block w-fit rounded-lg px-1 py-2.5 mouse:py-1 hover:bg-black/10"
  >
    brand →
  </a>

  <a
    href="/blog"
    class="block w-fit rounded-lg px-1 py-2.5 mouse:py-1 hover:bg-black/10"
  >
    blog →
  </a>
</Page>
