---
import { AstroSeo } from "@astrolib/seo";
import { Font } from "astro:assets";

import Logo from "../components/svg/logo.svg";

import "../styles/global.css";

const { title, description, pubDate } = Astro.props;

// https://github.com/withastro/astro.build/blob/d7d1810b6e48cc16d755afec49d6cc080040475b/src/components/SEO.astro#L59
function formatCanonicalURL(url: string | URL) {
  const path = url.toString();
  const hasQueryParams = path.includes("?");

  if (hasQueryParams) {
    path.replace(/\/?$/, "");
  }

  return path.replace(/\/?$/, hasQueryParams ? "" : "/");
}
const canonicalUrl = formatCanonicalURL(
  new URL(Astro.url.pathname, Astro.site),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/images/logo-color.svg" />

    <Font cssVariable="--font-inter" preload />

    <AstroSeo
      title={title ? `${title} • fxgn` : "fxgn"}
      description={description}
      canonical={canonicalUrl}
      openGraph={{
        url: canonicalUrl,
        title: title,
        description: description,
        site_name: "fxgn",
        type: pubDate ? "article" : "website",
        article: {
          publishedTime: pubDate && (pubDate as Date).toISOString(),
        },
      }}
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="fxgn"
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body>
    <header class="fixed top-0 w-full bg-white pt-4">
      <a
        href="/"
        class="mx-auto box-content block size-12 rounded-lg p-1 hover:bg-black/10 sm:size-20"
      >
        <Logo class="h-12 sm:h-20" />
      </a>
    </header>

    <main
      class="min-h-[calc(100dvh-2rem)] content-center px-8 pt-18 pb-10 sm:pt-26 sm:pb-18 lg:min-h-dvh lg:pb-26"
    >
      <div class="mx-auto max-w-fit">
        <slot />
      </div>
    </main>

    <footer class="mr-5 mb-2 text-right lg:fixed lg:right-0 lg:bottom-0">
      <p class="text-base">
        <a href="https://otomir23.me/webring/fxgn/prev">← prev</a>
        <a href="https://otomir23.me/webring" class="font-bold">|webring|</a>
        <a href="https://otomir23.me/webring/fxgn/next">next →</a>
      </p>
    </footer>
  </body>
</html>

<style>
  body {
    counter-reset: sidenote;
  }
</style>
